.navigation{
    padding-top: 50px;
    max-width: 700px;
    margin: 0 auto;
}
.navigation__list{
    display: flex;
    justify-content: space-around;
    margin:  0 auto;

}
.navigation__link{
    font-size: 1.25rem;
    border:none;
    outline: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    position: relative;
    width: 100%;
}
.navigation__link:hover{

}

.navigation__link:after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color:#FFD369;
    content: '';
    transition: width 0.3s ease-out;
  }
  .navigation__link:hover:after,
  .navigation__link:focus:after{
    width: 100%;
  
  }
  .navigation__link:hover{
    color: #FFD369;
  }
  